.hero-section{
    height: 100%;
    width: fit-content;
    padding-inline: 1rem;
    flex-direction: column;
    row-gap: 1rem;
}

.hero-section .content{
    background-color: rgba(218, 218, 218, 0.78);
    border: solid 7px #f9fafb;
    border-radius: 1rem;
    padding: .75rem .5rem;
    color: #f9fafb;
}