.hero-section{
    height: 100%;
    width: fit-content;
    padding-inline: 1rem;
    flex-direction: column;
    row-gap: 1rem;
}

.hero-section .incendie{
    background-color: rgba(255, 95, 95, 0.78);
    border: solid 7px #ffffff;
    border-radius: 1rem;
    padding: .75rem .5rem;
    color: #ffffff;
}

.hero-section .intrusion{
    background-color: rgba(255, 164, 95, 0.78);
    border: solid 7px #ffffff;
    border-radius: 1rem;
    padding: .75rem .5rem;
    color: #ffffff;
}

.hero-section .secours{
    background-color: rgba(95, 122, 255, 0.78);
    border: solid 7px #ffffff;
    border-radius: 1rem;
    padding: .75rem .5rem;
    color: #ffffff;
}

.content-header {
    font-size: 25px;
}

.content-body {
    font-size: 20px;
}