.accueil {
    display: flex;
}
/* loader */

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
}

.lettre {
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}

@keyframes flash {
    0% {
        color: #BF3C3C;
        text-shadow: 0 0 7px #BF3C3C;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #BF3C3C;
        text-shadow: 0 0 7px #BF3C3C;
    }
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}