h1 {
  text-align: left;
	font-family: arial, verdana;
  font-size: 75px;
	text-align: center;
}

/*CSS pour notif alerte*/
.fr-alert--warning {
  box-shadow: inset 0 0 0 1px #b34000, inset 2.5rem 0 0 0 #b34000
}

.fr-alert {
  --title-spacing: 0 0 0.25rem;
  --text-spacing: 0 0 0.25rem;
  box-shadow: inset 0 0 0 1px #FF3F16,inset 2.5rem 0 0 0 #FF3F16;
  padding: 1rem 2.25rem .75rem 3.5rem;
  position: relative;
}

.fr-mt-2w {
  margin-top: 1rem!important;
}

.fr-alert {
  margin-bottom: 1rem;
}

.fr-alert--warning:before {
  content:"";
}

.fr-alert--warning:before {
    -webkit-mask-image: url(fr--warning-fill.svg);
    mask-image: url(fr--warning-fill.svg);
    stroke: "Grey";
}

.fr-alert:before {
  --icon-size: 1.5rem;
  background-color: currentColor;
  color: var(--text-inverted-grey);
  display: inline-block;
  flex: 0 0 auto;
  height: var(--icon-size);
  left: 0;
  margin: 1rem .5rem;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  position: absolute;
  top: 0;
  vertical-align: calc((.75em - var(--icon-size))*.5);
  width: var(--icon-size);
}

.text-alert {
  font-family: arial, verdana;
}

.menu {
    height: 60px;
    list-style: none;
    padding: 0px;
    margin: 20px;
}

.menu li {
    float: left;
    width: 175px;
}

.menu li a{
	text-decoration: none;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: 0.3px;
	position: relative;
	transition: 0.5s;
}

.menu li a:link, .menu li a:visited {
	display: block;
    color: black;
	background: #476655;
    padding: 6px 10px;
    border-right: 1px solid #FFF;
    text-align: center;
    text-decoration: none;
}

.menu li a:hover {background: #602127;}
.menu li a:active {background: #602127;}

.menu .sousmenu li a:hover {
    background-color: #602127;
}

.menu .sousmenu {
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.menu .sousmenu li {
	float: none;
    margin: 0;
    padding: 0;
    border-top: 0px solid transparent; 
    border-right: 1px solid transparent;
}

.menu .sousmenu li a:link, .menu li a:visited {
    display: block;
    color: black;
    text-decoration: none;	
}

.menu li a:hover {
    background-color: #602127;
	color: white;

}

.menu li a:hover::before {
	width: 100%;
}

.menu li:hover .sousmenu {
    display: block;
}

.btn {
    cursor: not-allowed;
}


/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}