.hero-section{
    height: 100%;
    width: fit-content;
    padding-inline: 1rem;
    flex-direction: column;
    row-gap: 1rem;
}

.hero-section .content{
    background-color: rgb(113 119 144 / 78%);
    border: none;
    border-radius: 1rem;
    padding: .75rem .5rem;
    color: #f9fafb;
}